$brand-primary:         #88ba42 !default; // darken(#428bca, 6.5%) !default; // #337ab7

$break-small: 320px;
$break-normal: 1024px;
$break-xlarge: 1200px;
$footer-height: 60px;
$table-bg-accent:               #dadad0 !default;


@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/fontawesome-webfont.woff2') format('woff2'),
  url('fonts/fontawesome-webfont.woff') format('woff'),
  url('fonts/fontawesome-webfont.ttf') format('truetype'),
  url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Sticky Footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: arial,sans-serif;
  padding-top: 51px;
  margin-bottom: $footer-height;
}

.fa {
  font-family: FontAwesome;
}

div[x-href] {
    cursor: pointer;
}

/** Login form */
ul.dropdown-menu form#loginForm {
  padding: 5px 10px;
  .btn {
    width: 100%;
    margin-top: 5px;
  }
  
  .or {
    display: none;
  }
} 

/** Custom .container for narrow content */
.container {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}

#content-header {
  #admin-menu a {
    display: block;
    padding: 10px;
    margin: 10px 0px;
  }
}

#content-body {
  > h1 {
    margin-top: 0;
  }
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: $footer-height;
  
  > div {
    background-color: #707070;
    font-size: 80%;
  }
  
  .nav {
    margin: 10px 0px;
    
    li {
      display: inline-block;
      
      a {
        color: #d0d0d0;
        padding: 0;
        margin: 0 .5em;
      }
    }
  }
  
  #copyright {
    padding: 0 0 10px 0;

    p {
      color: #d0d0d0;
      font-size: 12px;
      padding: 11px 0 0 10px;
  
      html[dir="rtl"] & {
        padding: 11px 10px 0 0;
      }
    }
  }
}

.container {
  .text-muted {
    margin: 20px 0px;
  }
}

.rows-striped {
  > .row:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}

.row-header {
  font-weight: bold;  
}

.top-image {
  img {
    width: 100%;
  }
}

.padding10 {
  padding: 10px;
}

.white-background {
  background-color: White;
}


h1.page-title {
	background-color: rgb(136, 186, 66);
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
	color: Black;
	margin-top: 0px;
	border-top: 2px solid White;
	border-bottom: 2px solid white;
}

#content-header h1, #content-body-content .informative-h1, #content-body-content>h1:FIRST-CHILD {
  background: none repeat scroll 0 0 #88ba42;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

#content-body-content {
  padding-bottom: 30px;

  .informative-h1 {
    font-size: small;
    font-weight: normal;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 24px;
      font-weight: bold;
      padding: 10px 0;
    }
    
  }
  
  /** Absolutely first H1 in the content section */
  &>h1:FIRST-CHILD {
    margin: 0 -15px;
    padding: 10px 15px;

    small {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

/** Header-related stuff: pagination and such */
.main-col-header {
  background: #d4d1c6;
  margin: 0 -15px;
  padding: 10px 15px;
}

/** Alphabetic list */
.letter-pointer {
  padding: 0 0.7em;
  font-weight: bold;
}

ul > li.hoofdleter {
  font-size: 150%;
  font-weight: bold;
  list-style-type: none;
  margin: 1em 0 0.5em;
  padding: 0;
  
  small {
    font-size: 10px;
    
    html[dir="rtl"] & {
      margin-right: 3em;
    }
    html:not([dir="rtl"]) & {
      margin-left: 3em;
    }
  }
}

/** Funny List */
ul.funny-list {
  margin: 0;
  padding: 0;

  > li {
    list-style-type: none;
    margin: 3px 0;
    padding: 10px 15px;

    &:nth-of-type(odd) {
      background-color: #f8f7f5;
    }

    &:nth-of-type(even) {
      background-color: #f3f2ee;
    }
    
    &.not-current * {
      font-style: italic;
      opacity: 0.5;
    }
  }
}

.btn.btn-inline {
    border: none;
    background-color: inherit;
    color: inherit;
    display: inline;
}

/** Unit of Measure */
.uom {
  html[dir="rtl"] & {
    margin-right: 1em;
  }
  html:not([dir="rtl"]) & {
    margin-left: 1em;
  }
}

/** Map */
.gis-map {
  width: 100%;
  height: 300px;
  margin-top: 1em;
}

.gis-map-square {
  height: 600px;
}

/** Articles & Docs */
.article {
  .right-side {
    background-color: #fff;
    padding: 32px 30px;
  }

  .sidebar-nav {
    ul {
      margin: 38px 0 0 15px;
      
      li a {
      	font-size: 120%;
    	color: #006db4;
    	padding: 10px 0 10px;
    	display: block;
	  }
	}   
  }
}

/** Intro page */
#content.entry-page .row.no-space {
  /*margin-left: 0;
  margin-right: 0;*/
  
  > div {
    padding-left: 0;
    padding-right: 0;
  }
}

.entry-page .row.intro {
  .intro-image {
    height: 300px;
    overflow: hidden;
    img {
      min-height: 300px;
      width: 100%;
    }
  }
  .intro-text {
    height: 300px;
    padding: 20px;
    font-size: 110%;
    background-color: #88ba42;
    color: White;
    
    h1 {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 28px;
      color: white;
      text-transform: none;
      
      em {
        font-weight: normal;
        font-style: normal;
      }
    }
    
    .btn-default, .btn-default:focus, , .btn-default:active {
      color: White;
      border-color: White;
      background-color: transparent;
      text-transform: uppercase;
      
      @media (min-width: 767px) {
        position: absolute;
        bottom: 20px;
      }
    }

    @media (max-width: 767px) {
      height: auto;
    }
  }
}

.entry-page {
	#content-body-content .row {
    	margin-bottom: 15px;
	}
	
	/** Entry page: See also */
	div.see-also-block {
	  min-height: 200px;
	  height: 200px;
	  position: relative;
	  background-size: cover; /*contain*/
	  background-repeat: no-repeat;
	  background-position: top center;
	
	  div.content {
	    position: absolute;
	    bottom: 0;
	    z-index: 20;
	    width: 100%;
	    
	    div.body {
	      min-height: 80px;
	    }
	  }
	}
	
	#stats {
	    background-color: #C8C8C8;
	    height: 300px;
	}

    #globalmap.gis-map {
	    height: 300px;
	    margin-top: 0;
	    background-image: url("/html/0/images/mapshot.png");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	}
	
	.tab-content {
		background: #fff;
	}
	
	h2 {
		background: #88ba42;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		margin: 0;
		padding: 10px;
		text-transform: uppercase;
		
		&.short {
			width: auto;
			display: inline-block;
			padding-right: 40px;
		}
	}
	
	#crop-list-dropdown, #crop-list {
		background-color: #d7d5cf;
	}
	
	#crop-list {
		.all-crops {
			font-weight: bold;
		}

		a {
			&:hover, &:active {
			    font-weight: bold;
			    background-color: #cfcdc7;
			}
		}
	}
	
	#right-col {
		.content-block {
			margin-bottom: 15px;
		}
		
		.blurp {
			padding: 5px;
			background-color: White;
		}
	}
	
	.all-posts {
		padding: 10px;
	}
	
	.post {
		padding-bottom: 30px;
		.post-head {
			display: table;
		}
		.user-icon {
			display: table-cell;
			width: 37px;
			vertical-align: middle;
		}
		.post-head-content {
			display: table-cell;
			vertical-align: middle;
			font-weight: bold;
			font-size: 120%;
			padding: 0 0 0 15px;
			html[dir="rtl"] & {
				padding: 0 15px 0 0px;
			}

			> p {
				margin: 0;
			}
		}
		.post-content {
			/*background: #e7e5df;
			border: 1px solid #d2d0cb;
			margin: 10px 10px 0 50px;*/
			padding: 10px 0;
		}
		.post-actions {
			/*margin: 10px 0 10px 55px;*/
			font-size: 80%;
		}
	}
	
	#show-moar-news {
		width: 100%;
		display: block;
		color: White;
		background-color: #BBB;
		border: solid 1px #999;
		text-align: center;
		padding: 10px;
	}
}

/** Browser: Filters */
.applied-filters {
  border-bottom: 1px solid #c9c9c7;
  color: #6f6e69;
  padding: 5px 15px;
  background-color: White;

  .filter-block {
    background-color: #f8f7f5;
    margin: 5px 0;
    padding: 6px 10px;
    
    .filter-new, .filter-apply-btn {
      display: none;
    }

    &.edit-filter .filter-new, &.edit-filter .filter-apply-btn {
      display: inherit;
    }

    .edit-fil {
      cursor: pointer;
      font-weight: bold;
      padding: 7px 0px;
    }

    .input-group {
      .btn, input[type=text] {
        border-color: #ccc;
      }
      .btn {
        height: 36px;
      }
    }

    input[type="checkbox"] {
      margin-right: 1em;
      
      html[dir="rtl"] & {
        margin-right: 0;
        margin-left: 1em;
      }  
    }
  }

  .nav.nav-pills li.message {
    padding: 10px 15px;
    float: right;
  }
  
  .filtval {
    background: #e6e0c6 url("/html/0/images/icon_remove_from_list.png") no-repeat top right;
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px 5px 10px;
    margin: 2px 5px;
  }
}

table.accessions {
  border-spacing: 0 5px;
  border-collapse: separate;
  width: 100%;
  
  thead td {
    color: #000;
    font-size: 16px;
  }
  
  tr.acn .sel {
    background-image: url("/html/0/images/icon_row_select.png");
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
    width: 32px;
    min-width: 32px;
    
    &.picked {
      background-position: center right;
    }
  }

  td {
    padding: 10px;
    font-size: 13px;
    
    a b {
      font-size: 14px;
      font-weight: normal;
    }
  }
  
  .idx-col {
    font-size: 14px;
    width: 20px;
  }

  tr:nth-of-type(odd) td {
    background-color: #f3f2ee;
  }

  tr:nth-of-type(even) td {
    background-color: #f8f7f5;
  }
}

.acn .sel {
  &.picked {
    a.remove {
      display: inline;
    }
    a.add {
      display: none;
    }
  }
  
  a {
    padding: 7px 0 7px 7px;
    text-transform: uppercase;
      
    &.add:before {
      background-position: -4px -4px;
    }
    &.remove {
      display: none;
    }
    &.remove:before {
      background-position: -36px -4px;
    }
    
    html[dir="rtl"] & {
      padding: 7px 7px 7px 0;
    }
      
    &:before {
      content: "";
      float: left;
      width: 32px;
      height: 32px;
      margin: 0;
      padding: 0;
      background: url("/html/0/images/icon_row_select.png") no-repeat;
      
      html[dir="rtl"] & {
        float: right;
      }
    }
  }
}

span.idx-col {
  display: inline-block;
}

.imagegallery-image-frame {
  img {
     width: 100%;
  }
}

.genesys-mini {
	.title {
		margin: 0.5em 0;
		font-size: 130%;
	}

	.summary {
		margin: 0.5em 0;
		margin-left: 3em;
	}

	.url {
		margin: 0.5em 0;
		color: Gray;
	}

	.not-current {
		font-style: italic;
     	opacity: 0.5;
     }
}

.imagegallery {
	&.thumbs {
		img {
			width: 100%;
		}
	}

	&.image-frame {
		position: relative;
		display: none;
	
		&:hover .metadata {
			background-color: $brand-primary;
			opacity: 1.0;
		}
			
		.theimage {
			width: 100%;
		}
		
		.metadata {
			display: none;
			position: absolute;
			bottom: 0px;
			background-color: Gray;
			font-size: 10px;
			opacity: 0.7;
			
			.val {
				font-weight: bold;
				font-size: 120%;
			}
		}
	}
}

