$white-color: white;
$hyperlink: #006db4;
$btn-bg: #88ba42;
$dropdown-bg: #35342f;
$light-grey: #e6e5e0;
$input-color: #6d6c69;
$content-footer-bg: #e7e5df;
$map-bg: #D8D6D0;
$dark-text-color: #2b2924;

@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/Roboto-Bold.eot');
  src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Bold.woff2') format('woff2'),
  url('fonts/Roboto-Bold.woff') format('woff'),
  url('fonts/Roboto-Bold.ttf') format('truetype'),
  url('fonts/Roboto-Bold.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto-Light.eot');
  src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Light.woff2') format('woff2'),
  url('fonts/Roboto-Light.woff') format('woff'),
  url('fonts/Roboto-Light.ttf') format('truetype'),
  url('fonts/Roboto-Light.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('fonts/Roboto-Medium.eot');
  src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Medium.woff2') format('woff2'),
  url('fonts/Roboto-Medium.woff') format('woff'),
  url('fonts/Roboto-Medium.ttf') format('truetype'),
  url('fonts/Roboto-Medium.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.eot');
  src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Regular.woff2') format('woff2'),
  url('fonts/Roboto-Regular.woff') format('woff'),
  url('fonts/Roboto-Regular.ttf') format('truetype'),
  url('fonts/Roboto-Regular.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}
 

.welcome-page {
   margin-top: 28px;
   font-family: 'Roboto-Regular';
  
  .navbar-toggle {
    float: left;
    margin-top: 22px;
    margin-right: 5px;
    border: none;
    padding: 9px 10px 25px 4px;

    &:focus, &:hover {
      background: transparent;
    }

    .icon-bar {
      width: 27px;
    }
  }
   a {
    font-family: 'Roboto-Regular';
    font-size: 16px;
    color: $hyperlink;
    text-decoration: none;
   }

   #loginForm {
    a {
      color: #333;
    }
   }
  .navbar-inverse.navbar-default {
    background: $dark-text-color;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
  }

  .navbar-inverse.navbar-default .navbar-nav {
    &.nav-menu {
      > li {
        > a {
          padding: 32px 16px 23px;
          color: $content-footer-bg;

          &.dropdown-toggle {
            padding-right: 2px;
            .caret {
              margin-left: -3px;
            }
          }
          .badge {
            margin-left: 10px;
            margin-bottom: 2px;
            background-color: #514f49;
            font-size: 11px;
            line-height: 13px;
            font-family: 'Roboto-Medium';
            min-height: 22px;
            min-width: 23px;
          }
        }
        &.active, &:hover, &:focus, &.open  {
          > a {
            color: $btn-bg;
            background-color: transparent;
          }
          .dropdown-menu {
            left: 13px;
            background-color: $dropdown-bg;
            padding: 0;
            li {
              padding: 0 20px;
              &:last-child {
                a {
                  border-bottom: none;
                }
              }

              &:hover, &:focus, &.active {
                padding: 0;
                &:not(:first-child) {
                  a {
                    &:after {
                      display: block;
                      position: absolute;
                      content: '';
                      width: 100%;
                      height: 1px;
                      background: $light-grey;
                      left: 0;
                      top: -1px;
                    }
                  }
                }
                a {
                  padding: 15px 53px 13px 20px;
                  position: relative;
                  background-color: #3f3e3a;
                }
              }
            }
            a {
              padding: 15px 33px 13px 0;
              color: $light-grey;
              background-color: $dropdown-bg;
              border-bottom: 1px solid $light-grey;
              font-size: 15px;
              font-family: 'Roboto-Medium';
            }        
          }
        }
      }
    }
    > li {
      > a {
        padding: 32px 23px 23px 5px;
        font-size: 18px;
        font-family: 'Roboto-Medium';
        color: $content-footer-bg;
      }
      &.active, &:hover, &:focus, &.open {
        > a {
          color: $btn-bg;
          background-color: transparent;
        }
      }
    }
  }
  .nav-logo {
    padding: 15px 19px;
    color: $light-grey;
    font-size: 29px;
    height: 100%;
    width: 210px;
    margin-right: 50px;
    img{
      display: inline-block;
      vertical-align: middle;
      width: 65%;
      height: auto;

      &:first-child {
        width: 35%;
        padding-right: 13px;
      }
    }
  }
  #navbar .header-search {
    float: left;
    padding-left: 22px;
    padding-top: 17px;
    form.form-inline {
      .form-group {
        width: 463px;
        background-color: #3e3c37;
        border: none;
        input {
          color: $input-color;
          @include placeholder {
            font-family: 'Roboto-Medium';
            color: $input-color;
            font-size: 18px;
          }
        }
        &:before {
          color: $input-color;
        } 
      }
    }
  }
  #content {
    background-color: $content-footer-bg;
    #content-body-content {
      padding-bottom: 0px;

      .center-divider {
        .row {
          margin-bottom: 0;
        }
      }
    }
    .intro {
      margin-bottom: 5px;
      background: url('../images/welcome-bg.png');
      background-size: cover;
      background-position-y: 100%;
    }
    .intro-image, .intro-text {
      height: 295px;
    }

    .intro-text {
      background: transparent;
      padding: 33px 35px 10px 0px;
      color: $white-color;

      h1 {
        font-family: 'Roboto-Bold';
        font-size: 30px;
        margin-top: 7px;
        margin-bottom: 15px;
      }
      p {
        font-family: 'Roboto-Regular';
        font-size: 16px;
        line-height: 23px;
        strong {
          font-family: 'Roboto-Bold';
        }
      }

      .btn-default {
        position: static;
        margin-top: 11px;
        background-color: $btn-bg;
        font-family: 'Roboto-Medium';
        font-size: 17px;
        padding: 9px 64px;
        border-width: 2px;
        border-radius: 1px;
        color: $white-color;
      }
    }

    .row.map {
      margin-bottom: 8px;
      background: $map-bg;

      #globalmap {
        background-image: url('../images/map-bg.png');
        background-size: cover;
        background-position: 101.5%;
      }
      #stats {
        background: transparent;
        position: relative;
        padding-left: 5px;
        h2.short {
          left: 5px;
        }
        .all-stats {
          margin-top: 82px;

          .one-stat {
            padding: 7px 17px 9px;
            border-top: 1px solid $dark-text-color;

            &:last-child {
              border-bottom: 1px solid $dark-text-color;
            }
            a {
              font-size: 23px;
            }
          }
        }
        p {
          padding: 16px 0px 0px 15px;
          font-family: 'Roboto-Regular';
          font-size: 15px;
          line-height: 23px;
        }
      }
    }

    .see-also-row {
      padding: 0 2px;
      margin-bottom: 5px;
      .see-also-block {
        position: relative;
        padding: 0px 2px;
        height: auto;
        .content {
          position: static;
          background-color: #f3f2ef;
          min-height: 208px;

          .see-also-img {
            height: 120px;
            width: 120px;
            margin-left: 19%;
            border-radius: 50%;
            background-position: 43%;
            background-size: cover;
          }
          .body {
            padding-top: 67px;
            .row {
              margin: 0;
            }
          }
          p {
            font-family: 'Roboto-Bold';
            font-size: 16px;
            color: $dark-text-color;
            margin-top: 16px;
            margin-bottom: 21px;
          }
          .form-group {
            margin-left: 2px;
            input {
              padding: 9px;
              &.btn {
                width: 8.7%;
              }
            }
            &:before {
              font-size: 18px;
              left: 93%;
              line-height: 43px;
            }
          }
          .network-list {
            padding-top: 15px;
            a {
              width: 97.3%;
              padding: 0;
            }
            span {
              display: inline-block;
              vertical-align: middle;
              width: 1%;
              font-size: 15px;
            }
          }
          a {
            font-size: 16px;
            line-height: 24px;
            font-family: 'Roboto-Bold';
            display: inline-block;
            vertical-align: middle;
            width: 60%;
            padding-top: 36px;
          }
        }
      }
    }

    .tab-content {
      padding: 50px 0px 30px 0px;
      margin-left: 5px;

      .post-left-pad {
        padding-left: 75px;
      }
      .all-posts {
        padding: 10px 10px 0px;
      }
      .post {
        background: #f3f2ef;
        margin-bottom: 12px;
        padding-bottom: 0px;
        .post-head {
          padding-top: 10px;
        }

        .post-actions {
          color: #bcbab4;
          font-family: 'Roboto-Regular';
          font-size: 14px;
          line-height: 17px;
        }

        .post-content {
          color: $dark-text-color;
          font-family: 'Roboto-Regular';
          font-size: 16px;
          line-height: 25px;
          padding: 10px 10% 0px 0px;

          p {
            margin: 0px 0 22px;
          }
        }

        .user-icon {
          background: $dark-text-color;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: inline-block;
          margin-left: 10px;
          position: relative;
          overflow: hidden;

          &:before {
            position: absolute;
            left: 0;
            top: 0;
            content: 'M';
            font-family: 'Roboto-Regular';
            font-size: 16px;
            color: $white-color;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 42px;
          }

          img {
            min-width: 100%;
            height: auto;
          }

        }
        .post-head-content {
          display: inline-block;
          padding-left: 18px;
          font-size: 20px;
          font-family: 'Roboto-Bold';
        }
      }

      #show-moar-news {
        width: 98%;
        margin: 0 auto;
        background: $btn-bg;
        border-color: #c2dca1;
        font-family: 'Roboto-Medium';
        font-size: 17px;
        color: $white-color;
        text-transform: uppercase;
        padding-top: 8px;
      }
    }
    .content-block {
      margin: 0px 4px 0px 4px;
      position: relative;
      &:first-child {
        margin-bottom: 4px;
      }
    }
    #middle-col.col-md-8 {
        background-color: $content-footer-bg;
      .short {
        left: 5px;
      }
    }
    #right-col.col-md-4 {
      background-color: $content-footer-bg;
      .short {
        left: 0px;
      }

      .blurp {
        padding: 38px 10px 15px;
        .btn-default {
          margin-top: 8px;
          background-color: $btn-bg;
          font-family: 'Roboto-Medium';
          font-size: 17px;
          padding: 8px 41px;
          border-width: 1px;
          border-radius: 1px;
          color: $white-color;
          border-color: #c2dca1;
          text-transform: uppercase;
        }
      }

      #crop-list {
        .nav {
          padding: 80px 5px;
          background: $white-color;
        }
        .row {
          margin: 0;
          li {
            border-top: 1px solid #d5d4d3;
            &:last-child {
              border-bottom: 1px solid #d5d4d3;
            }
            a {
              padding: 8px 10px 9px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }

  footer {
    > div{
      background: $content-footer-bg;
    }
    .footer-logo {
      width: 15%;
      max-width: 100px;
      margin: 21px auto 14px;

      a {
        display: block;
        img {
          display: inline-block;
          vertical-align: middle;
          height: auto;
          width: 66%;
          &:first-child {
            width: 34%;
            padding-right: 6%;
          }
        }
      }
    }
    .nav {
      margin: 0;
      li {
        margin: 0 0.3%;
        a {
          font-family: 'Roboto-Medium';
          font-size: 13px;
          color: $dark-text-color;
          margin: 0;
        }
        &:hover {
          a {
            background: transparent;
          }
        }
      }
    }

    #copyright {
      padding: 0 0 2px;
      p {
        font-family: 'Roboto-Medium';
        font-size: 11px;
        color: $dark-text-color;
        padding: 16px 0 0 10px;
      }
    }
    .footer-link {
      padding-bottom: 25px;
    }
    .footer-link, .footer-link a {
      color: #bcbab4;
      font-size: 10px;
    }
  }
  form:not(#loginForm) {
    .form-group {
      width: 367px;
      background-color: transparent;
      position: relative;
      height: 44px;
      border: 1px solid #bbbbbb;
      input {
        height: 100%;
        width: 90%;
        background-color: transparent;
        border: none;
        outline: 0 none;
        padding: 16px 8px 9px;
        box-shadow: none;
        border-radius: 0;
        font-family: 'Roboto-Medium';
        color: #bbbbbb;
        font-size: 18px;
        @include placeholder {
          font-family: 'Roboto-Medium';
          color: #bbbbbb;
          font-size: 18px;
        }
        &.btn {
          width: 9%;
          min-width: 36px;
          padding: 0;
        }
        &:focus, &:active {
          background: transparent;
          box-shadow: none;
          outline: 0 none;
        }
      }
      &:before {
        content: "\f002";
        font-family: 'FontAwesome';
        font-size: 20px;
        color: #bbbbbb;
        position: absolute;
        left: 94%;
        top: 0;
        width: 26px;
        height: 100%;
        line-height: 52px;
        pointer-events: none;
      } 
    }
  }
  
  .no-space {
    padding-left: 0;
    padding-right: 0;
  }
  h2.short {
    background: $dark-text-color;
    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: $white-color;
    font-weight: normal;
    min-width: 262px;
    padding: 15px 20px 15px 0px;
    position: absolute;
    left: 2px;
    top: 0;

    &:after {
      left: 100%;
      top: 0;
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-bottom: 49px solid transparent;
      border-left-width: 50px;
      border-left-style: solid;
      border-left-color: rgba(43, 41, 36, 0.7);
    }
  }

  .center-divider {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 67%;   
      width: 4px;
      height: 100%;
      top: 0;
      background: $content-footer-bg;
    }
  }

  #nav-foot {
    width: 75%;
    margin: 0 auto;
  }

}




@media (min-width: 990px) and (max-width: 1920px) {
    .welcome-page {
      
      .navbar-collapse.collapse, .navbar-collapse.collapsing {
        height: auto !important;
        overflow-x: hidden;
        .nav.navbar-nav.nav-menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          
        }
        &.in {
          .nav.navbar-nav.nav-menu {
            display: block;
            padding-bottom: 43px;
          }
        }
      }
      #navbar {
        .header-search {
          float: right;
          padding-right: 57px;
          padding-left: 0;

          form.form-inline:not(#loginForm) .form-group {
            width: 250px;

            input.form-control {
              width: 84%;
            }
            &:before {
              left: 89%;
            }
          }
        }
      }


    }
}

@media (max-width: 1920px) {
  .welcome-page {
    .hidden-md {
      display: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
      .nav.navbar-nav.nav-menu {
        width: 262px;
        background: $dark-text-color;

        li {
          display: block;
          width: 100%;
          padding: 0 19px;
          position: relative;

          a {
            line-height: 21px;
            padding: 14px 0;
            border-bottom: 1px solid #555450;

            .badge, .caret {
              position: absolute;
              left: auto;
              right: 0;
            }
            .caret {
              top: 25px;
              right: 10px;
            }
          }

          &:hover, &:focus, &.active, &.open {
            padding: 0;
            &:not(:first-child) {
              a {
                &:after, &:before {
                  display: block;
                  position: absolute;
                  content: '';
                  width: 100%;
                  height: 1px;
                  background: #555450;
                  left: 0;
                  top: -1px;
                }
                &:before {
                  top: auto;
                  bottom: -1px;
                }
              }
            }
            a {
              padding: 14px 19px;
              position: relative;
              background-color: #33322d;
              color: $content-footer-bg;
  
               .badge {
                right: 19px;
              }
              .caret {
                right: 29px;
              }
            }

            .dropdown-menu {
              width: 100%;
              position: static;
              border: none;
              box-shadow: none;
              float: none;
              li {
                padding: 0;
                &:hover, &:focus, &.active, &.open {
                  a {
                    padding: 14px 19px;
                  }

                  &:not(:first-child) {
                    a {
                      &:after, &:before {
                        background: #555450;
                      }
                    }
                  }
                }
              }
              a {
                padding: 14px 19px;
              }
            }
          }
        }
      }
    }
    #content {
        .intro {
          background-position-y: 97%;
          background-position-x: 62%;
          .intro-text {
            height: 296px;
          }
        }
        .row.map #globalmap {
          background-position: 71%;
          height: 305px;
        }

        .see-also-row {
          .see-also-block {
            p {
              padding-left: 5.7%;
            }
            .content {
              .form-group {
                width: 87%;
                margin-left: 5.7%;

                input.form-control {
                  width: 85%;
                }
                &:before {
                  left: 90%;
                }
              }
              .network-list {
                padding-left: 5.7%;
              }
              a {
                width: 89%;
                padding-left: 5.7%;
              }
            }
          }
        }

        #right-col.col-md-4 #crop-list {
          .nav {
            padding-bottom: 40px;
            li:first-child:not(.all-crops) {
              border-top: none;
            }
          }
        }
      }
  }
}


@media (max-width: 989px) {
  .welcome-page {
    .nav-logo {
      margin-right: 0;
      margin-left: 22px;
    }
    .navbar-header {
      margin: 0;
    }
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-collapse.collapse.in, .navbar-collapse.collapsing {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background: $dark-text-color;
      max-height: 550px;
      margin: 0;
      padding-right: 15px;
      padding-left: 15px;
      overflow: scroll !important;

      &.in {
        display: block !important;
        padding-bottom: 30px;
      }

      .navbar-nav.nav {
        float: none !important;
        margin: 0;
        width: 100%;

        li {
          float: none;
          a {
            padding: 14px 0px;
            border-bottom: 1px solid #555450;
            .badge {
              min-width: 26px;
            }
            .caret {
              position: absolute;
              top: 25px;
              right: 10px;
              left: auto;
            }
          }
        }

        &.nav-menu {
          width: 100%;
          padding-top: 85px;

          li {
            padding: 0px;
            a {
              padding: 14px 0px;
            }
          }
        }

        li {
          &:hover, &:focus, &.active, &.open {
            a {
              padding: 14px 0;
              background-color: transparent;
              color: #e7e5df;
            }

            .dropdown-menu {
              background: transparent;
              width: 100%;
              position: static;
              float: none !important;

              li {
                width: 100%;
                a {
                  font-size: 15px;
                  font-family: 'Roboto-Medium';
                  color: #e7e5df;
                  padding: 14px 19px;
                }
              }
            }
          }
        }
      }

      #loginForm {
        .form-group, .checkbox {
          label {
            color: #e7e5df;
          }
        }

        .btn {
          color: #e7e5df;
          border-bottom-color: #ccc;
        }
      }

      &#navbar .header-search {
        float: none;
        padding: 0px;
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;

        form.form-inline:not(#loginForm) .form-group {
          width: 100%;

          input.form-control {
            display: inline-block;
            vertical-align: middle;
            width: 88%;
          }
          &:before {
            left: 90%;
          }
        }
      }
    }

    #content {
      .intro {
          background-position-x: 31%;
        .intro-text {
          height: 373px;
          padding: 22px 10px;

          .free-text {
            padding: 0px 15px 0px 10px;
          }
          .btn {
            width: 100%;
            margin-top: 15px;
          }
        }
      }
      .row.map {
        #stats {
          height: 460px;
          background-image: url('../images/map-bg.png');
          background-position-x: 70%;
          background-position-y: 0%;
          background-size: 1000px 42%;
          background-repeat: no-repeat;

          h2.short {
            left: 0;
          }
          .stats-map {
            width: 68.5%;
            p {
              text-align: right;
              padding-top: 22px;
            }
          }
          .all-stats {
            margin-top: 0;
            padding-top: 260px;
            .one-stat {
              padding-left: 0;
              padding-right: 0;
              text-align: right;
            }
          }
        }
        .hidden-xs {
          display: none;
        }
      }

      .see-also-row {
        padding: 0;
        .see-also-block {
          padding: 0;
          border-bottom: 4px solid #e7e5df;
          p {
            padding-left: 20px;
          }
          .content {
            min-height: 216px;
            .body {
              padding-top: 62px;
            }
            .form-group {
              width: 91%;
              margin-left: 20px;

              input.form-control {
                width: 85%;
              }
              &:before {
                left: 90%;
              }
            }
            .network-list {
              padding-left: 20px;
              padding-top: 20px;
            }
            a {
              width: 74%;
              padding-left: 20px;
              padding-top: 40px;
            }
          }
        }
      }

      .center-divider:after {
        display: none;
      }

      #middle-col.col-md-8 {
        h2.short {
          left: 0;
        }
      }

      #right-col.col-md-4 {
        .free-text {
          padding: 40px 0px 15px;
          p {
            padding: 2px 35px 0px 8px;
          }

          .btn {
            width: 100%;
            margin-top: 0;
          }
        }
        #crop-list {
          .nav {
            padding-bottom: 28px;
            padding-top: 71px;
            li:first-child:not(.all-crops) {
              border-top: none;
            }
          }
        }
      }

      .tab-content {
        border-bottom: 4px solid #e7e5df;
        #show-moar-news {
          width: 95%;
        }
        .post {
          .post-head-content {
            padding-left: 15px;
          }
          .post-actions {
            padding-top: 10px;
          }
          .post-left-pad {
            padding-left: 15px;
          }

          .post-inner {
            padding-right: 10px;
          }
        }
      }
      .content-block {
        margin: 0px;
      }
    }
    h2.short {
      left: 0;
    }

    footer .footer-logo {
      width: 30%;
    }
    #nav-foot {
      width: 100%;
      margin: 0 auto;
      padding-top: 11px;
      padding-bottom: 17px;
      .nav {
        padding-bottom: 12px;
      }

      li {
        width: 100%;
        text-align: center;
        padding: 3px 0px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .welcome-page {
    #right-col.col-lg-4, #middle-col.col-lg-8 {
      width: 50%;
    }

    .center-divider:after {
      left: 50%;
    }

    #crop-list .col-md-12 {
      width: 33.3333333333%;
    }
  }
}